
<div class="container">
    <div class="row justify-content-md-center pokemon-logo">
        <img src="../../../assets/images/pokemon_logo.png" class="img-fluid" alt="Pokemon Logo" width="300">
    </div>
    <div class="row">
        <div class="col-10">
            <label for="search-input">Perquise seu Pokémon</label>
            <div class="input-group">
                <input class="form-control form-control-lg" 
                    type="search" id="search-input" 
                    placeholder="Ex. Charmander"
                    (keyup)="filterPokemon($event)"
                >
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="bi bi-search"></i>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-2">
            <label for="search-input">Favoritos</label>
            <div>
                <button 
                    id="filterByFavorite"
                    type="button" 
                    (click)="toggleFavorite()" 
                    class="btn btn-outline-warning btn-lg">
                    <i class="bi bi-star"></i>
                </button>
            </div>
        </div>
    </div>
    <div *ngFor="let pokemon of pokemons">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>
</div>
    