
<div class="container">
    <div class="row justify-content-md-center pokemon-logo">
        <img src="../../../assets/images/pokemon_logo.png" class="img-fluid" alt="Pokemon Logo" width="300">
    </div>
    <div class="row">
        <div class="col-10">
            <label for="search-input">Perquise seu Pokémon</label>
            <div class="input-group">
                <input class="form-control form-control-lg" 
                    type="search" id="search-input" 
                    placeholder="Ex. Charmander"
                    (keyup)="searchPokemon($event)">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <img src="../../../assets/images/search.svg" alt="Pesquisar Pokémon">
                    </div>
                </span>
            </div>
        </div>
        <div class="col-2">
            <label for="search-input">Favoritos</label>
            <div>
                <button type="button" class="btn btn-outline-warning btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                      </svg>
                </button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

            </div>
        </div>
    </div>
    <div *ngFor="let pokemon of (pokemons$ | async)">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>

    