<div class="modal-header">
  <h5 class="modal-title">#{{ pokemon?.id }} | {{ pokemon?.name | uppercase }}</h5>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="limit">
          <img
            loading="lazy"
            [src]="getImage()"
            class="img-fluid"
            alt="pokemon"/>
        </div>
      </div>
      <div class="col-md-8 d-flex justify-content-center">
        <div id="chart"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <b>Experiência: </b><span>{{ pokemon?.base_experience }}</span>
        </p>
        <p>
          <b>Peso: </b><span>{{ pokemon?.weight }}</span>
        </p>
        <p>
          <b>Altura: </b><span>{{ pokemon?.height }}</span>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <b>Habilidades: </b>
          <span *ngFor="let ability of pokemon?.abilities">
            <span> {{ ability.ability.name }} |</span>
          </span>
        </p>
        <b>Tipo(s): </b>
        <span *ngFor="let type of pokemon?.types">
          <span> {{ type.type.name }} |</span>
        </span>
      </div>
    </div>
  </div>
</div>
