<div class="card mb-3 mt-3">
    <div class="row no-gutters">
        <div class="col-md-3 d-flex justify-content-center">
            <div class="limit">
                <img 
                    loading="lazy" 
                    [src]="getImageUrl(pokemon.id)" 
                    class="img-fluid" 
                    alt="pokemon">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title"><span class="badge badge-danger">#{{pokemon.id}}</span>  |  {{pokemon.name | uppercase}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="card-text">{{pokemon.comments}}</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-primary" [routerLink]="'comments/' + pokemon.id">
                            <i class="bi bi-pen"></i> Comentário
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button 
                id="favorite{{pokemon.id}}"
                type="button" 
                [ngClass]="pokemon.favorite ? 'btn btn-outline-warning btn-lg border-top-0 rounded-0 active' : 'btn btn-outline-warning btn-lg border-top-0 rounded-0'"
                (click)="toggleFavorite()">
                <i class="bi bi-star"></i>
            </button>
        </div>
    </div>
    <button type="button" class="btn btn-ligth details-item" [routerLink]="'details/' + pokemon.id">Ver Detalhes</button>
</div>
